@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari&family=Merriweather&family=Roboto+Slab&family=Libre+Baskerville&family=Courgette&display=swap");

@media only screen and (max-width: 1000px) {
  .navbar {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: #8be3c2cc !important;
    border-radius: 0.5rem;
    box-shadow: 1px 5px 5px 0 rgba(108, 135, 135, 0.2);
    margin: 5px;
    overflow-y: hidden !important;
    text-align: center !important;
    text-transform: capitalize;
  }
}

.devnagari-font {
  font-family: "Anek Devanagari", sans-serif !important;
}

body {
  font-family: "Roboto Slab", serif;
}

img {
  max-height: 400px;
  max-width: 400px;
  height: auto;
  width: auto;
}

.square-image {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.section-heading {
  padding-top: 10px;
}

.recipe-description {
  color: gray;
}

.option-button {
  margin-bottom: 5px;
}

.loader {
  position: fixed;
  top: calc(50% - 25px) !important;
  left: calc(50% - 25px) !important;
  z-index: 5;
}

h2 > .recipe-header {
  font-family: "Libre Baskerville", serif;
  font-weight: bolder;
  padding-top: 10px;
}

.recipe-box {
  margin: 1rem 0px;
  padding: 5px;
}

.strikeout {
  text-decoration: line-through;
  color: gray;
}

.center-alert {
  position: fixed;
  top: calc(50%) !important;
  left: calc(50%) !important;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.bottom-alert {
  position: fixed;
  bottom: 1rem !important;
  left: calc(50%) !important;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.recipe-time-box {
  background: rgb(222 255 218 / 0.69);
  padding: 5px 5px;
  border-radius: 15px;
  max-width: 225px;
  margin-top: 2px;
}

.recipe-time-box label {
  color: #2e2e2e;
  font-size: 17px;
  width: 100%;
  float: left;
  font-weight: bold;
}

.recipe-time-box span {
  color: rgba(80, 136, 74, 0.69);
}

ol {
  list-style: none;
  counter-reset: item;
}

ol li {
  counter-increment: item;
  margin-bottom: 5px;
}

ol,
ul {
  padding-left: 1rem;
}

ol li:before {
  margin-right: 10px;
  content: counter(item);
  background: rgb(247, 63, 124);
  border-radius: 5px;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}

.floating-button-container {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  z-index: 99;
}

.ingredient-small {
  color: #999;
}

.save-btn{
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99;
}

@media print {

}
